@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-schedule/styles/material.css";

.schedule-control-section {

    .shift-management-sample-wrapper {
        display: flex;
        height: 600px;
        width: 100%;

        .schedule-shift-management {
            border: 1px solid #C4C7C5;
            border-radius: 12px;
            margin-right: 12px;

            .e-table-wrap.e-timeline-view {

                .e-resource-cells.e-parent-node,
                .e-work-cells.e-resource-group-cells {
                    height: 30px;
                }

                .e-resource-cells.e-child-node,
                .e-work-cells:not(.e-resource-group-cells) {
                    height: 60px;
                }

                .e-resource-left-td {
                    width: 237px;
                }

                .e-resource-column-wrap {
                    .e-resource-cells.e-parent-node {
                        background-color: #dcdbdb;
                    }
                }

                .e-content-wrap {

                    .e-resource-group-cells {
                        background-color: #dcdbdb;
                    }

                    .e-appointment-wrapper {

                        .e-appointment.day-shift {
                            background-color: #0875B8;
                        }

                        .e-appointment.night-shift {
                            background-color: #633DD0;
                        }

                        .e-appointment.event-swapped {
                            background-color: #FFA500;
                        }

                        .e-appointment.event-leave:not(.e-read-only) {
                            border: 1px dotted #B3261E !important;
                            background-color: #F9DEDC !important;

                            div {
                                color: #1C1B1F;
                            }

                            .e-leave.e-icons {
                                color: #C70404;
                            }
                        }

                        .e-appointment {
                            height: 45px !important;
                            border-radius: 8px;

                            .e-icon-element {
                                display: flex !important;
                                align-items: center;
                                justify-content: space-between;
                            }

                            .e-leave::before {
                                content: '\e607';
                            }

                            .e-swap.e-icons,
                            .e-swapped.e-icons,
                            .e-replaced.e-icons,
                            .e-leave.e-icons {
                                font-size: 18px;
                            }

                            .template-wrap {
                                padding: 4px;
                                display: flex;

                                .specialist-image.alice {
                                    background-image: url('https://ej2.syncfusion.com/react/demos/src/schedule/images/alice.png');
                                }

                                .specialist-image.robert {
                                    background-image: url('https://ej2.syncfusion.com/react/demos/src/schedule/images/robert.png');
                                }

                                .specialist-image.robson {
                                    background-image: url('https://ej2.syncfusion.com/react/demos/src/schedule/images/robson.png');
                                }

                                .specialist-image.laura {
                                    background-image: url('https://ej2.syncfusion.com/react/demos/src/schedule/images/laura.png');
                                }

                                .specialist-image.nancy {
                                    background-image: url('https://ej2.syncfusion.com/react/demos/src/schedule/images/nancy.png');
                                }

                                .specialist-image.margaret {
                                    background-image: url('https://ej2.syncfusion.com/react/demos/src/schedule/images/margaret.png');
                                }

                                .e-staff {
                                    height: 32px;
                                    display: flex;
                                    margin-top: 2px;

                                    .staff-image {
                                        background-color: #FFFFFF;
                                        height: 32px;
                                        width: 32px;
                                        border-radius: 50%;
                                        font-size: 16px;
                                        font-weight: 500;
                                        font-family: 'Roboto';
                                        line-height: 20px;
                                        letter-spacing: 0.1px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        margin-right: 6px;
                                    }

                                    .staff-info {
                                        height: 32px;

                                        .e-name {
                                            font-family: 'Roboto';
                                            font-weight: 500;
                                            font-size: 13px;
                                            line-height: 18px;
                                            letter-spacing: 0.1px;
                                        }

                                        .e-designation {
                                            font-family: 'Roboto';
                                            font-weight: 400;
                                            font-size: 11px;
                                            line-height: 14px;
                                            letter-spacing: 0.1px;
                                        }
                                    }
                                }

                                .e-time {
                                    font-family: 'Roboto';
                                    font-weight: 400;
                                    font-size: 12px;
                                    line-height: 16px;
                                    letter-spacing: 0.1px;
                                }
                            }

                            .sf-icon-replace-request,
                            .sf-icon-replace-accepted,
                            .sf-icon-user-replace {
                                display: flex;
                            }
                        }

                        .e-appointment.e-read-only {
                            background-color: #F1F2F3 !important;

                            .staff-image {
                                background-color: #CACACA !important;
                                opacity: 50%;
                            }

                            .staff-info {
                                color: #AEAEAE !important;
                            }
                        }

                        .e-appointment:not(.event-leave):not(.e-read-only) {

                            .staff-info {
                                color: #FFFFFF;
                            }

                            .staff-image {
                                color: #1C1B1F !important;
                            }
                        }

                        .e-appointment.event-swapped {

                            .staff-info,
                            .e-time,
                            .sf-icon-replace-accepted {
                                color: #1C1B1F !important;
                            }
                        }
                    }
                }
            }

            .e-table-wrap.e-agenda-view {
                .e-agenda-item {
                    padding: 12px 0;

                    .e-appointment {

                        .agenda-event {
                            padding: 8px 0px;

                            .e-staff {
                                display: flex;
                                align-items: center;

                                .staff-image {
                                    background-color: #6750A4;
                                    height: 40px;
                                    width: 40px;
                                    border-radius: 50%;
                                    color: #FFFFFF;
                                    font-size: 16px;
                                    font-weight: 500;
                                    font-family: 'Roboto';
                                    line-height: 20px;
                                    letter-spacing: 0.1px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }

                                .staff-name {
                                    color: #1C1B1F;
                                    font-family: 'Roboto';
                                    font-weight: 500;
                                    font-size: 16px;
                                    line-height: 24px;
                                    letter-spacing: 0px;
                                }

                                .staff-role,
                                .staff-designation,
                                .staff-availability,
                                .event-time {
                                    font-family: 'Roboto';
                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 20px;
                                    letter-spacing: 0.24px;
                                }

                                .staff-role,
                                .staff-designation,
                                .staff-availability {
                                    color: #1C1B1F;
                                }

                                .event-time {
                                    color: #49454E;
                                }

                                .staff-availability {
                                    color: #C70404;
                                }
                            }
                        }
                    }
                }

                .e-resource-column {
                    display: none;
                }
            }

            .e-schedule-toolbar-container {

                .agenda-toolbar {
                    border-bottom: 1px solid #C4C7C5;

                    .e-chip-list .e-chip.e-outline {
                        height: 32px;
                        border-radius: 16px;
                        min-width: 41px;
                    }
                }
            }
        }

        .schedule-shift-management:not(.e-rtl) {

            .e-agenda-view .staff-image {
                margin-right: 9px;
            }

            .e-appointment.e-template {
                display: block;
                padding-left: 19px !important;
            }

            .e-appointment {

                .e-swap.e-icons,
                .e-swapped.e-icons,
                .e-replaced.e-icons,
                .e-leave.e-icons {
                    margin-right: 8px;
                }
            }
        }

        .treeview-container {
            border: 1px solid #C4C7C5;
            border-radius: 12px;

            .title-text {
                height: 32px;
                position: relative;
            }

            .title-text span {
                bottom: 0;
                color: #49454E;
                font-family: 'Roboto';
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 0.1px;
                line-height: 20px;
                position: absolute;
            }

            .role-tabs .e-chip-list {
                flex-wrap: nowrap;
                padding: 14px 4px 14px 4px;
                height: 68px;

                .e-chip.e-outline {
                    height: 32px;
                    border-radius: 16px;
                    min-width: 41px;
                }
            }

            .treeview-external-drag.e-control {
                height: 100%;

                .e-list-parent {
                    height: 100%;

                    .e-list-item {
                        height: 48px;
                        padding: 0;

                        .e-fullrow {
                            height: 48px;
                        }

                    }
                }
            }

            .treeview-external-drag.e-rtl {

                .employee-image {
                    margin: 6px 0px 6px 12px;
                }

                .title-text span {
                    margin-right: 12px;
                }
            }
        }

        .treeview-container:not(.e-rtl) .title-text span {
            margin-left: 12px;
        }

        .e-chip-text {
            font-family: 'Roboto';
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.1px;
            line-height: 18px;
            text-align: center;
        }

        .e-dialog.swap-dialog {

            .e-dlg-header-content {
                height: 52px;

                .e-dlg-header {
                    color: #1C1B1F;
                    font-family: 'Roboto';
                    font-size: 16px;
                    font-weight: 400;
                    letter-spacing: 0.15px;
                    line-height: 20px;
                }
            }

            .e-dlg-content {
                height: 154px;
            }

            .e-dlg-content label {
                color: #49454E;
                font-family: 'Roboto';
                font-size: 10px;
                font-weight: 400;
                letter-spacing: 0.1px;
                line-height: 12px;
            }

            .e-dlg-content input {
                color: #1C1B1F;
                font-family: 'Roboto';
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.24px;
                line-height: 20px;
            }

            .e-footer-content {
                height: 60px;

                .e-btn {
                    font-family: 'Roboto';
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: 0.5px;
                    line-height: 16px;
                }

                .e-btn:not(:disabled) {
                    color: #6750A4;
                }
            }
        }
    }

    .e-rtl.schedule-shift-management {
        .role-template-wrap {
            .role-image {
                margin: 0 0 0 6px;
            }
        }

        .e-table-wrap:not(.e-agenda-view) .e-appointment {
            .template-wrap {
                .e-staff {
                    .staff-image {
                        margin: 0 0 0 6px;
                    }
                }
            }
        }

        .e-appointment {

            .e-swap.e-icons,
            .e-swapped.e-icons,
            .e-replaced.e-icons,
            .e-leave.e-icons {
                margin-left: 8px;
            }
        }

        .e-agenda-view .staff-image {
            margin-left: 9px;
        }

        .e-appointment.e-template {
            padding-right: 19px !important;
        }
    }
}



.shift-management-sample-wrapper .e-treeview.treeview-external-drag,
.e-drag-item.e-treeview.treeview-external-drag {
    .e-text-content {
        padding: 0;

        .e-list-text {
            height: 46px;
            line-height: 15px !important;
            padding: 0 5px;
            width: 220px;

            #waitdetails {
                display: flex;
                align-items: center;
                width: 95%;
                float: left;
                height: 100%;
                padding: 0;

                .employee-image {
                    width: 36px;
                    height: 36px;
                    border-radius: 25px;
                    margin: 6px 12px 6px 0;
                }
            }

            #waitlist {
                color: #1C1B1F;
                font-family: 'Roboto';
                font-size: 14px;
                font-weight: 500;
                line-height: 18px;
                letter-spacing: 0.1px;
                margin: 5px 0 2px 0;
            }

            #waitcategory {
                color: #49454E;
                font-family: 'Roboto';
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
                letter-spacing: 0.1px;
            }
        }
    }
}

.e-drag-item.e-treeview.treeview-external-drag {
    background-color: #FFFFFF;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    /* Blurred border effect */
    border-radius: 4px;
}

@media (max-width: 550px) {
    .shift-management-sample-wrapper {
        display: block;
    }

    .schedule-container {
        padding-bottom: 10px
    }

    .treeview-external-drag.e-treeview,
    .e-bigger .treeview-external-drag.e-treeview {
        width: 250px;
    }

    .e-bigger .treeview-external-drag.e-treeview.e-drag-item {
        position: relative !important;
    }
}

.e-disble-not-allowed {
    cursor: unset !important;
}

.e-drag-item.treeview-external-drag .e-icon-expandable {
    display: none;
}

.e-schedule-dialog .e-dlg-content {
    .e-subject-container {
        width: 100%;
    }

    .e-start-end-row,
    .e-resources-row {
        pointer-events: none;
        opacity: 0.5;
        cursor: not-allowed;
    }

    .e-location-container,
    .e-all-day-time-zone-row,
    .e-time-zone-row,
    .e-repeat-parent-row,
    .e-recurrenceeditor {
        display: none;
    }
}

.schedule-shift-management .e-quick-popup-wrapper .e-delete.e-icon-btn,
.schedule-shift-management .e-quick-popup-wrapper .e-edit.e-icon-btn,
.e-schedule-dialog .e-footer-content .e-event-delete.e-btn {
    display: none !important;
}

.shift-management-tooltip.e-tooltip-wrap {
    border: none !important;
    opacity: 1;

    .e-tip-content {
        background-color: #313033;
        color: #F4EFF4 !important;
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.24px;
        padding: 5px 12px;
    }

    .e-arrow-tip-inner.e-tip-bottom::before,
    .e-arrow-tip-inner.e-tip-left::before {
        color: #313033;
    }
}

.sf-icon-user-replace:before { content: "\e700"; }
.sf-icon-replace-accepted:before { content: "\e701"; }
.sf-icon-replace-request:before { content: "\e702"; }